body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header img {
    height: 150px; /* Change height */
    width: auto; /* Keep proportions */
    object-fit: cover; /* Zooms into the image */
    padding-right: 00px; /* Space between logo and title */
}

.services-grid {
    background-color: #cddde7; /* White background */
}

.service-item {
    background-color: #e6f7ff; /* Soft blue */
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

h1 {
    font-size: 3em;
    margin: 0;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}

