:root {
    --menu-font: Items, Times New Roman, sans-serif;
    --menu-font-size: 20px;
    --menu-font-color: #ffffff;
    --menu-main-bg-color: #030d15;
    --menu-main-text-box-color: #3f6279;
    --menu-main-text-box-bg-color: #7899ae;
    --menu-main-text-color: #E7ECEF;
    --menu-title-text-color: #A3CEF1;
    --menu-light-bg-color: #ece3d8;
    --menu-dark-bg-text-color: #E7ECEF;
    --menu-light-bg-text-color: #020d16;
    --menu-light-bg-box-color: #ACA9A3;
    --menu-dark-bg-box-color: #2D3438;
    --menu-header-footer-color: #1D4964;
}
body {
    font-family: var(--menu-font);
    margin: 0;
    padding: 0;
    background-color: var(--menu-main-bg-color);
    text-align: center;
    transition: background-color 1.5s ease-in-out;

}

/*
Fonts
*/

h1 {
    font-family: Items, Times New Roman, sans-serif;
    font-size: 2.75rem;
    font-weight: 300;
    line-height: 1.05;
}

h2 {
    color: var(--menu-title-text-color);
}
h3 {
    font-size: 3em;
    margin: 0;
    
}

h4 {
    font-size: 1.5ex;
    font-weight: 20;
   
}

h5 {
    font-size: 2.5ex;
    font-weight: bold;
    color: #ff9100;
    margin-bottom: 0px;
}

h6 {
    margin-right: 4vw;
    margin-bottom: 0px;
}

h7 { /* Basic text box text */
    font-family:GT America Lig-898330cec9f6e459;
    font-size: 2.5ex;
    
}

h8 { /* Small text */
    font-family:GT America Lig-898330cec9f6e459;
    color:var(--menu-main-text-color);
    font-size: 2ex;
}

#video-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

#myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    transition: opacity 2s ease-in-out;
    z-index: -1;
}



.section-header {
    opacity: 0;
    transform: translateY(30px); /* Moves down initially */
    transition: opacity 1s ease-out, transform 1s ease-out, color 1.5s ease-in-out;
    font-size: 4.5vw;
    font-family: var(--menu-font);
    border-color:white;
    padding: 0px;
}

.section-header.show {
    opacity: 1;
    transform: translateY(0);
}

/*
Fonts
*/

.services-grid {
    background-color: #cddde7; /* White background */
}

.service-item {
    background-color: #e6f7ff; /* Soft blue */
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline-flex;
    margin: 0 10px;
    margin-right: 20px;
}

nav ul li a {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    color: var(--menu-font-color);
    text-decoration: none;
    
}



nav ul li a.active {
    
    color: #ff9100;
}



section {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: var(--menu-header-footer-color);
    color: white;
    text-align: center;
    padding: 1px;
    
}

.added_margin {
    margin-bottom: 75px; /* Adjust the value as needed */
}

.blockTitle {
    text-align: center;
    color: var(--menu-main-text-color);
    padding: 0px;
    font-weight: bold;
    font-size: 10px;
    font-family: "Quicksand", serif;
}

.blockText {
    font-family: var(--menu-font);
    color:var(--menu-main-text-color);
}


header {
    top: 0;
    position:fixed;
    z-index: 1001;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--menu-header-footer-color);
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 0px;
    transition: padding 0.3s ease-in-out, transform 0.3s ease-in-out;
    transform-origin: top center;
}

header.shrink {
    transform: translateY(-70px);
}


header img {
    height: 2vw;
    width: auto;
    padding:0px;
}
.menu-divider {
    width: 2px;
    height: 2vw;
    background-color: white;
    margin: 0 25px;
    padding:0px;
}
.MenuBarName {
    color: var(--menu-font-color);
    font-size: var(--menu-font-size);
    font-weight: 200;
    padding: 0px;
}



.custom-link {
    color: rgb(213, 213, 213); 
    
}


.custom-link:hover {
    color: rgba(15, 15, 129, 0.365); 
    text-decoration: underline; 
}



html {
    scroll-behavior: smooth;
}

.sep {
    margin-bottom: 300px;
}

.header_sep {
    margin-bottom: 15vh;
}

textarea  
{  
   font-family: Arial, sans-serif; 
   font-size: 16px; 
   resize: vertical;
}

